/*CSS Batalla Naval */
table{width:76%;height:86%;}
button[type=button]{width:90%;height:90%;}
.tableros{height:400px}
.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}
.appear {
    display: none;
}
